<!-- LLAMAR AL ARCHIVO PADRE-->
{% extends "SysGesApp/base.html" %}


{% load static %}

{% block content %}

<!-- ZONA CENTRAL-->


    {% for desarrollo in desarrollo %}
        <!-- Heading -->
   <section class="page-section clearfix">
      <div class="container">
        <div class="intro">
          <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" 
          src="{{desarrollo.imagen.url}}" alt="" 
          style="width:50%;">
          <div class="intro-text left-0 text-center bg-faded p-5 rounded">
            <h2 class="section-heading mb-4" >
              <!--<span class="section-heading-lower">{{desarrollo.titulo}}</span> lower es para grande-->
              <a class="nav-link text-uppercase text-expanded" href="{% url 'desarrollo' %}">{{desarrollo.titulo}}</a>
              <span class="section-heading-upper">{{desarrollo.contenido}}</span><!-- upper es para chico-->
            </h2>         
          </div>
        </div>
      </div>
    </section>

    {% endfor %}

{% endblock %}