<!-- LLAMAR AL ARCHIVO PADRE-->
{% extends "SysGesApp/base.html" %}

{% block titulo %}Bienvenido{% endblock %}

{%block encabezado %}
    <h1>Bienvenido</h1>
{% endblock %}
{% load static %}

{% block content %}

<!-- ZONA CENTRAL-->
<form id='formulario' method='post' action=''>{% csrf_token %}
    <section class="page-section clearfix">
        <!--div class="container"-->
            <!--<div class="intro">-->
                <div class="intro-text center-0 text-center bg-faded p-5 rounded">
                    <h2 class="section-heading mb-4" >
                        <table style="color: green;">
                            <p>Bienvenido {{usuario.username|upper}},
                                la ultima vez que te vimos por aqui fue el
                                {{usuario.last_login}}.
                            </p>
                            <p>Eres miembro desde el {{usuario.date_joined}}</p>
                        </table>
                    </h2>
                </div>
           <!--</div>--> 
        <!--/div-->
    </section>
</form>

{% endblock %}