<!-- LLAMAR AL ARCHIVO PADRE-->
{% extends "SysGesApp/base.html" %}


{% load static %}

{% block content %}

<!-- Heading -->
   <section class="page-section clearfix">
    <div class="container">
      <div class="intro">
        <img class="intro-img img-fluid mb-3 mb-lg-0 rounded" 
        src="{% static 'SysGesApp/img/principal.jpg' %}" alt="">
        <div class="intro-text left-0 text-center bg-faded p-5 rounded">
          <h2 class="section-heading mb-4" >
            <span class="section-heading-upper">Gestiona todo</span>
            <span class="section-heading-lower">Proyectos simples hasta los mas complejos</span>
          </h2>
          <!--
            <p class="mb-3">Realizar un correcto control y monitorización de los recursos de un proyecto, 
            es parte importante de cualquier proyecto en desarrollo.
          </p>
        -->
        </div>
      </div>
    </div>
  </section>


  
    <!-- Message -->
    <section class="page-section cta">
      <div class="container">
        <div class="row">
          <div class="col-xl-9 mx-auto">
            <div class="cta-inner text-center rounded">
              <h2 class="section-heading mb-4">
                <span class="section-heading-upper">Compromiso total</span>
                <span class="section-heading-lower">Garantizado</span>
              </h2>
                <p class="mb-0">Realizar un correcto control y monitorización de los recursos de un proyecto, 
                  es parte importante de cualquier proyecto en desarrollo.
                </p>
            </div>
          </div>
        </div>
      </div>
    </section>

{% endblock %}